<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add file</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Enter title"/>
    </mat-form-field>
    <mat-error>
      <span *ngIf="!form.get('title').valid && form.get('title').touched">Please enter Title!</span>
    </mat-error>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Angular forms" formControlName="eventTime"/>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="!form.valid" type="submit">Add</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>
