<div class="todo-content">
  <h1 class="page-title">My Todos</h1>
  <div class="todo-create">
    <button class="fab-add" (click)="openTodoDialog()">
    <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="isDeleteMultipleAllowed()" class="fab-add" (click)="deleteMultipleTodos()">
      <mat-icon matTooltip="Delete multiple todos">clear</mat-icon>
    </button>
  </div>
  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <div class="todo-row">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-checkbox color="primary" [(ngModel)]="todo.checked">
                <span [class.completed]="todo.checked">{{todo.title}}, {{todo.eventTime | date}}</span>
              </mat-checkbox>
              <!--<span> {{todo.title}}, {{todo.eventTime | date}} </span>-->
              <span class="todo-actions">
                <a (click)="openTodoDialog(todo)"><i class="material-icons edit">edit</i></a>
                <a (click)="deleteTodo(todo.id)"><i class="material-icons delete">clear</i></a>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
                <textarea class="form-control mat-form-field-flex full-width"
                      placeholder="Description" disabled [value]="todo.description"></textarea>

          </mat-card-content>
        </mat-card>
      </div>
    </li>
  </ul>
  <div class="no-todos" *ngIf="todos && todos.length == 0">
    <p>No Todos Found!</p>
  </div>
</div>
